// Variables
@import "variables";

* { margin: 0; padding: 0; }

html,
body {
    background-color: $body-bg;
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    line-height: $line-height-base;
}

.title {
    padding: $title-padding 0 $title-padding $title-padding;
    font-size: 3em;
}

.sidebar {
    padding: 1em;
 }

.input-menu {
    line-height: 1.4em;

    a {
        padding: 5px 0px;
        font-size: 1.3em;
        text-decoration: none;
        color: $color_menu;  
        
        &:hover {
            color:darken($color_menu,10%);
        }
    }    
}

li {
    list-style-type: none;
}

.upper-margin {
    margin-top: 0.6em;
}




